.App {
  position: relative;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.login {
  position: relative;
  top: 80px;
  width: 400px;
  height: 450px;
  display: flex;
  border: 3px solid #ee87436b;
  flex-direction: column;
  margin: auto;
  align-content: space-evenly;
  align-items: center;
}

h1 {
  padding: 40px 10px;
}

.input-user {
  width: 250px;
  margin: 40px;
}

.input-otp {
  width: 70px;
  height: 30px;
  margin: 30px;
  padding-left: 12px;
}

p {
  color: rgb(241, 9, 9);
}

.btn-warning {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 2px;
  font-weight: 700;
  color: rgb(8, 8, 8);
}

.btn-warning:hover {
  letter-spacing: 4px;
}
